<!DOCTYPE html>
<html>
<head>
  <title>Zizia</title>
  <%= stylesheet_link_tag    "zizia/application", media: "all" %>
  <%= javascript_include_tag "zizia/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
