<% pre_ingest_work.pre_ingest_files.each do |pre_ingest_file| %>

  <tr id="files-row-<%= pre_ingest_file.id %>" class="pre-ingest-file parent-work-<%= pre_ingest_work.id %> responsive collapse nowrap table table-stripedcollapse works-list">

    <td class="type">F</td>
    <td>--</td>
    <td>
      <%= pre_ingest_file.basename %>
    </td>
    <td>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
      </div>
    </td>
    <td>
      <%= status_badge(pre_ingest_file.status) %>
    </td>


  </tr>
<% end %>
