<div class="row">
  <div class="col-md-4">
    <div class="well well-lg no-collection">
      You must <a href="/dashboard/collections">create a collection</a> before importing content.
    </div>
  </div>
</div>
