<div class="row">
  <div class="col-md-8">
    <div class="alert alert-success">
      <p> This import will create or update <%= @csv_import.manifest_records %> records. </p>
      <p> If you only want to import new records you will be able to choose that option after continuing. </p>
    </div>
  </div>
</div>
