<div class="row">
  <div class="col-md-8">
    <div class="alert alert-success">
      <p> This import will create or update <%= @csv_import.manifest_records %> records. </p>
    </div>
  </div>
</div>
