<%= javascript_include_tag 'zizia/application' %>
<div id="zizia_new" class="zizia">
  <h2><span class="glyphicon glyphicon-cloud-upload"></span> Batch Import </h2>
  <%= render 'form', csv_import: @csv_import %>
</div>