.desc::after {
  content: ' ▾'
}
.asc::after {
  content: ' ▴'
}

.toggle-imports {
  margin-bottom: 1em;
}

.pre-ingest-work{
  .type{
    // padding-left: 3rem;
  }
}

.pre-ingest-file{
  .type{
    // padding-left: 3rem;
  }
}

.progress{margin-bottom: 0;}